# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/
venv/
env/

# VS Code and other IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Audio and output files
*.wav
*.mp3
response.wav
recorded_audio.wav

# Python logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec
